<li id="entry">
  <span class="user"><%= link_to entry.user.name %> : </span>
  <span class="title"><%= entry.title %></span>
  <span class="body"><%= entry.body %></span>
  <br>
  <span class="timestamp">
    Posted <%= entry.created_at %>.
    <% if current_user?(entry.user) %>
      <%= link_to "Delete", entry, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
  <br>
</li>
<br>